* {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 800px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  display: grid;
  grid-template-columns: 40px auto;
  justify-content: left;
  line-height: 200%;
  grid-template-areas: "i a";

  input {
    grid-area: i;
    justify-self: baseline;
    align-self: center;
  }
}

@mixin h1($color, $border-style) {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem auto 0.8rem;
  font-weight: 800;
  border-radius: 40px;
  padding: 1rem;
  width: 8em;
  color: $color;
  border: 3px $border-style $color;
}

h2 {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
}

ul {
  width: fit-content;
  display: grid;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  margin: auto;
}
