#start-btn,
#play-again-btn {
  border: 0;
  color: #fff;
  text-transform: uppercase;
  width: 100px;
  height: 50px;
  font-weight: 600;
  letter-spacing: 3px;
}
#start-btn:hover,
#play-again-btn:hover {
  background: #00653d;
  font-size: 1rem;
}

#start-end #results, .info, .question, .hint span {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  background-color: #fff;
  margin: 1rem;
}

.timer {
  font-size: 0.8rem;
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 800px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  display: grid;
  grid-template-columns: 40px auto;
  justify-content: left;
  line-height: 200%;
  grid-template-areas: "i a";
}
li input {
  justify-self: baseline;
  align-self: center;
}

h2 {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
}

ul {
  width: fit-content;
  display: grid;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  margin: auto;
}

small {
  opacity: 0.8;
}

small::before {
  content: "\a";
  white-space: pre;
}

span {
  font-size: 1.6rem;
}

body {
  font-size: 1.2rem;
  font-family: "Open-sans", sans-serif;
  background-color: #f3eed9;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  border-radius: 40px;
  padding: 1em;
  color: #cd5c5c;
  border: 3px dashed #cd5c5c;
  font-size: 1.6rem;
  display: none;
  position: relative;
  margin: 2em auto 0.8em;
  width: 8em;
}

small {
  color: #b87171;
}

span {
  color: #cd5c5c;
}

#start-btn,
#play-again-btn {
  background-color: #00985c;
  opacity: 0;
  margin-top: 1rem;
}

#start-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#start-end #results {
  color: #cd5c5c;
}

.info {
  text-align: center;
  display: none;
  color: #cd5c5c;
}
.info input {
  width: 4rem;
  font-size: 2rem;
  color: #00985c;
  padding: 1rem 0 0;
  margin-right: 1.2rem;
  border: none;
  border-bottom: 2px solid #00985c;
  outline-color: #00985c;
  vertical-align: text-bottom;
}
.info #user-time::before {
  content: "\a";
  white-space: pre;
}
.info span {
  color: #00985c;
}

.timer {
  text-align: right;
}

.question {
  margin: 1rem auto 1.2rem;
  display: none;
  position: relative;
  max-width: 600px;
}
.question .question-header {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  color: #007f4d;
}
.question .question-header h2 {
  margin: auto;
}
.question input {
  grid-area: i;
}

.hint h4 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  border-radius: 40px;
  padding: 1em;
  color: #cd5c5c;
  border: 3px dashed #cd5c5c;
  font-size: 0.8rem;
  justify-self: flex-end;
  opacity: 0.4;
  width: fit-content;
  height: fit-content;
}
.hint h4:hover {
  cursor: pointer;
}
.hint span {
  background-color: #00985c;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  display: none;
  padding: 1em;
  width: 400px;
  position: absolute;
  top: 0px;
  z-index: 1;
}

/*# sourceMappingURL=index.css.map */
